{{- if and .is_personal .is_wsl -}}
#!/bin/sh

echo "Setting up brew..."

# Check for Homebrew and install if we don't have it
if test ! $(which brew); then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew update

echo "Installing packages..."

brew bundle --no-lock --file=/dev/stdin <<EOF
#####################
# Brewfile contents #
#####################

# Taps
tap 'homebrew/cask'
tap 'homebrew/cask-versions'
tap 'homebrew/bundle'

# Binaries
brew 'bash' # Latest Bash version
brew 'git'
brew 'gnupg'
brew 'grep' # Global Regural Expression Print
brew 'zoxide' # Better cd in Terminal

# Development
brew 'gh' # GitHub CLI
brew 'hub' # GitHub CLI extensions
brew 'terragrunt'
cask 'docker' # Docker Desktop
cask 'google-cloud-sdk'

#########################
# Brewfile contents end #
#########################
EOF
{{ end -}}